body {
    background-color:floralwhite;
    font-family: 'Allison', cursive;
    font-family: 'Inconsolata', monospace;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

a, p {
    color: dimgray;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
}

.container{
    max-width: 550px;
    margin: auto;
    background-color:#fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21)
}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;

}

.task-wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
}

.task-title {
    display: flex;
}
.task-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
}
.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%;
    flex-shrink: 0;
}
.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    flex-shrink: 0;
}
.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: #cf4949;
    font-size: 22px;
    line-height: 0;
}
#search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#add-link{
    text-decoration: none;
    font-size: 42px;
    text-shadow: 1px 1px #81413b;
}

input[type=text], input[type=password], input[type=date], textarea {
    background-color: #fff;
    border: 1px solid #EB796F;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

label {
    padding-top: 10px !important;
    display: block;
}

.button {
    border: 1px solid #EB796F;
    background-color: #FAFAFA;
    color: #EB796F;
    padding: 10 px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-create{
    margin-top: 18px;
}

.button:hover {
    color: #FAFAFA;
    background-color: #EB796F;
}

.card-body {
    padding: 20px;
}

.social-link {
    display: block;
    width: 33px;
    height: 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    background-color: #FFD723;
    border-radius: 100%;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.social-link:hover {
    opacity: 1;
}

.social-content{
    max-width: 550px;
    margin: auto;
    padding-top: 10px;
    
}
.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:floralwhite;
}

.social-link-fb {
    background-image: url('../images/icons8-facebook-f.svg');
}

.social-link-tw {
    background-image:url('../images/icons8-twitter.svg');
}

.social-link-vk {
    background-image:url('../images/vk-link.svg');

}

.social-link-git {
    background-image:url('../images/git.svg');
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-item:not(:last-child) {
    margin-right: 11px;
}

.top-list {
    display: flex;
    justify-content: space-between;
   
}

.value {
    color: #EB796F;
}

.for-top{
    display: flex;
    justify-content: space-between;
    color:darkgrey;
    border-bottom: 1px solid darkgrey;
}

ul.ddropdownn li {
    /* Считаем координаты относительно исходного места. */
    position: relative;
}

ul.ddropdownn, ul.ddropdownn-inside {
    /* Отступы на нуле. */
    padding: 0;
    /* Маркеры уберем. */
    list-style-type: none;
}
ul.ddropdownn-inside {
    /* Спрячем дочерние элементы выпадающего списка. */
    left: -9999px;
    position: absolute;
    display: none;
}
ul.ddropdownn li.ddropdownn-top {
    /* Небольшой отступ. */
    margin: 0 1px 0 0;
    /* Выравнивание по левой стороне. */
    float: left;
    display: inline;
}

ul.ddropdownn li.ddropdownn-top a {
    /* Делаю элементы блочными. */
    display: block;
    /* Снова отступы. */
    padding: 3px 10px 4px;
}

ul.ddropdownn a.ddropdownn-top {
    /* Цвет фона. */
    background: #eb8f87;
}

ul.ddropdownn a.ddropdownn-top:hover {
    /* Отступы. */
    padding: 3px 10px 4px;
}

ul.ddropdownn li.ddropdownn-top:hover .ddropdownn-inside {
    left: 0;
    /* Делаю элементы блочными. */
    display: block;
}

ul.ddropdownn .ddropdownn-inside {
    /* Цвет фона. */
    background: #EB796F;
}

ul.ddropdownn .ddropdownn-inside a:hover {
    /* Цвет фона изменится при наведении. */
    background: #EEA390;
}


.btn{
    border-radius: 4px;
    border:none;
}

.btn-light{
    color: white;
    background-color:rgba(0, 0, 0, 0.692);
}

.btn-dark{
    background-color:floralwhite;
    border: none;
}

.edit_note{
    color:rgb(81, 51, 212);
    text-decoration: none;
    padding-left:15px;
}
.delete_note{
    color:rgb(241, 53, 32);
    text-decoration:none;
    padding-left:15px;
}

