{% extends 'base/main.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="header-bar">
            <a href="{% url 'tasks' %}">&#8592; Back</a>
        </div>

        <p><h3>This app was created for you to keep your busy life in order!</h3></p>
        <p><h3>Just make a list with your daily tasks in a blink of an eye without any difficulties! If you have any questions or problems, find "Support" in the menu or click <a href="https://forms.yandex.ru/cloud/6170f0b40208c60589a01c66/">here</a></h3></p>
        <p><h5>Created with Python 3.0, Django 3, HTML and CSS</h5></p>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock content %}
