{% extends 'base/main.html' %}
 
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="header-bar">
            <a href="{% url 'tasks' %}">&#8592; Back</a>
        </div>
    
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock content %}