{% extends "base/main.html" %} 
{% block content %}

{% if user.profile.user %}
<p>user: {{ user.profile.user }}</p>
{% endif %}

{% if user.profile.first_name %}
<P>first_name: {{ user.profile.first_name }}</P>
{% endif %}

{% if user.profile.last_name %}
<P>last_name: {{ user.profile.last_name }}</P>
{% endif %}

{% if user.profile.bio %}
<p>bio: {{ user.profile.bio }}</p>
{% endif %}

{% if user.profile.profile_picture %}
<img class="rounded-circle" src="{{request.user.profile.profile_picture.url}}" style="max-width: 10em; margin-right: 10px;">
{% endif %}


{% if user == request.user %}
  <a href="{% url 'profile-edit' %}" role="button" class="btn btn-success btn-sm">edit profile</a>          
{% endif %}

{% endblock %}