{% extends 'base/main.html' %}

{% block content %}

    <div class="header-bar">
        <div>
            <script language="javascript" type="text/javascript">
                var d = new Date();
                var day=new Array("Sunday","Monday","Tuesday",
                "Wednesday","Thursday","Friday","Saturday");
                var month=new Array("January","February","March","April","May","June",
                "July","August","September","October","November","December");
                document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
                + " " + d.getFullYear());
            </script>
            <h1>Hello, <a href="{% url 'edit_profile' %}">{{request.user|title}}</a></h1>
            <h3 style="margin:0">You have <i style="color:yellow">{{count}}</i> incomplete and <i style="color:yellow">{{k}}</i> complete tasks</h3>
        </div>

        {% if request.user.is_authenticated %}
            <ul class="ddropdownn">
                <li class="ddropdownn-top">
                    <a class="ddropdownn-top" href="#">Menu</a>
                    <ul class="ddropdownn-inside">
                        <li><a href="{% url 'top-users' %}">Top</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'notions' %}">Notes</a></li>
                        <li><a href="{% url 'edit_profile' %}">Settings</a></li>
                        {% if user.profile.id %}
                        <li><a href="{% url 'user_profile' user.profile.id %}">Profile</a></li>
                        {% else %}
                        <li><a href="{% url 'create_user_profile'  %}">Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'contact' %}">Support</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <div id="search-add-wrapper">
        <form method="GET" style="margin-top: 20px;display: flex;">
            <input type='text' name='search-area' value="{{search_input}}">
            <input class="button" type="submit" value='Search'>
        </form>
        <a class="button btn-create" id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    </div>


    <div class="task-items-wrapper">
        {% for task in tasks %}
            <div class="task-wrapper" >
                {% if task.complete %}
                    <div class="task-title">
                        <div class="task-complete-icon"></div>
                        <i><s><a href="{% url 'task-update' task.id %}">{{task}} {{task.due_date}}</a></s></i>
                    </div>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                {% else %}
                    <div class="task-title">
                        <div class="task-incomplete-icon"></div>
                        {%if task.due_date|timesince >= "1 day" %}
                        <a href="{% url 'task-update' task.id %}" style="color: red;">{{task}} | {{task.due_date|date:"M, j, Y" }}</a>
                        {% else %}
                        <a href="{% url 'task-update' task.id %}">{{task}} | {{task.due_date|date:"M, j, Y" }}</a>
                        {% endif %}
                    </div>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                {% endif %}
            </div>
            {% empty %}
            <h3>No items in list</h3>
        {% endfor %}
    </div>

{% endblock content %}
