{% extends 'base/main.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="header-bar">
            <a href="{% url 'tasks' %}">&#8592; Back</a>
            <h1>Top of users</h1>
        </div>
    
        <div class="for-top card-body">
            <h3>Username</h3>
            <h3>Complete</h3>
        
        </div>
        {% for user in top_users %}
            <div class="card-body">
           
            

                <div class="top-list">
                {% if user.profile.pk %}
                  <h4><a href="{% url 'user_profile' pk=user.pk %}">{{ user.username }}</a></h4></li>
                {% else %} 
                  <h4 title="user has no profile">{{user.username}}</h4>
                {% endif %}
                  <div class="value"><h4>{{ user.task_completed }}</h4></div>
            
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

{% endblock content %}
